a {
    color: #03001C;
}
a:hover {
    color: #5B8FB9;
}

body {
    background-color: #03001C;
    font-family: roboto, 'Times New Roman', Times, serif;
}

button {
    background-color: #03001C;
    color: #5B8FB9;
    border: solid 2px;
    border-radius: 4px;
    font-size: 36px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

#canvas {
    background-color: #bebebe;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.canvas-container {
    padding: 8px;
    background-color: #43759E;
    border: solid 2px;
    border-radius: 8px;
}

#button-container {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 8px;
    height: 600px;
    width: 240px;
    padding: 16px;
    background-color: #43759E;
    gap: 8px;
}

#link {
    text-align: end;
    padding-top: 4px;
}

#grid-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 236px;
    height: 15px;
    background:  #03001C;
    border-radius: 5px;
}

#grid-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#5B8FB9;
}

#slide-info {
    font-size: 20px;
    padding: 4px;
    text-align: center;
}

#filler {
    height: 400px;
}

.active, #clear:active {
    background-color: #5B8FB9;
    color:#bebebe;
}

.top-heading {
    color: #5B8FB9;
    background-color: #03001C;
    font-size: 56px;
    text-align: center;
}
